@using ADondeIr.Common.Session
@using ADondeIr.Model
@{
    var usuario = (Usuario)SessionHelper.GetUser();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Devoluciones @(ViewBag.Title != null ? $"| {ViewBag.Title}" : "")</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/font-awesome/css/font-awesome.min.css">
    <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminLTE/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/adminLTE/css/skins/skin-blue.min.css">
    <link href="~/Content/plugins/sweetalert/sweetalert.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    @RenderSection("styles", false)
    <link href="~/Content/css/Shared/_Layout.min.css?v=@DateTime.Now.Ticks.ToString()" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div id="loading">
        <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
    </div>
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>A</b>DIr</span>
                <span class="logo-lg"><b>A</b> Donde Ir</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/image/user-default.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">@($"{usuario.cNombres} {usuario.cApellidos}")</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/Content/image/user-default-blanco.png" class="img-circle" alt="User Image">
                                    <p>
                                        @($"{usuario.cNombres} {usuario.cApellidos}")
                                        <small>Administrador</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/Login/Logout" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/image/user-default-blanco.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@($"{usuario.cNombres} {usuario.cApellidos}")</p>
                        <small>Administrador</small>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu Navegación</li>
                    <li>
                        <a href="/Dashboard">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Empresa">
                            <i class="fa fa-building"></i> <span>Empresa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TipoActividad">
                            <i class="fa fa-building"></i> <span>Tipo de Actividad</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @(!string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title : "")
                    @if (ViewBag.DescriptionPage != null)
                    {
                        <small>@ViewBag.DescriptionPage</small>
                    }
                </h1>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">Studio51pe</a>.</strong> Todo los derechos Reservados.
        </footer>
    </div>
    <!-- jQuery 3 -->
    <script src="~/Content/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/plugins/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/plugins/Date.Format/date.format.min.js"></script>
    <!-- Moment -->
    <script src="~/Content/plugins/Moment/moment.min.js"></script>
    <script src="~/Content/plugins/Moment/es.js"></script>
    <!--Encryptor-->
    <script src="~/Content/plugins/Jquery.base64/jquery.base64.min.js"></script>

    <script src="~/Content/plugins/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Content/plugins/Datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/Datepicker/locales/bootstrap-datepicker.es.js"></script>
    <script src="~/Content/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/adminLTE/js/adminlte.min.js"></script>
    <!-- Layout Js -->
    <script src="~/Content/js/Shared/_Layout.min.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script>

        $(document).ready(function () {
            $("ul.sidebar-menu").find("a").each(function (i, e) {
                if ($(e).attr('href') !== "#") {
                    const controller = $(e).attr("href").split('/')[1];
                    let index = $(e).attr('href').split('/')[2];

                    if (index === "" || index === undefined) index = "Index";
                    else index = index.split('?')[0];

                    if (controller === '@(ViewContext.RouteData.Values["Controller"].ToString())'
                        && index === '@(ViewContext.RouteData.Values["Action"].ToString())') {
                        $(e).parent('li').addClass("active");
                        $(e).parents('.treeview-menu').addClass("menu-open");
                        $(e).parents('.treeview').addClass("active");
                    }
                }
            });
        })
    </script>
    <!-- Section Scripts -->
    @RenderSection("scripts", false)
</body>
</html>
