@using ADondeIr.Model

@{
    ViewBag.Title = "Busqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalProducts = (int)ViewBag.totalProducts;
    var distrito = (int?)ViewBag.distrito;
    var tipoActividad = (int?)ViewBag.tipoActividad;
}

@section styles
{
<link href="~/Content/css/Producto/Busqueda.min.css" rel="stylesheet" />
}

<div id="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-10">
                <h4><strong id="totalResult">@totalProducts</strong> resultado para todos los listados</h4>
            </div>
            <div class="col-lg-9 col-md-8 col-2">
                <a href="#0" class="search_mob btn_search_mobile"></a> <!-- /open search panel -->
                <div class="row no-gutters custom-search-input-2 inner" id="panelSearchDesktop">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" type="text" id="search" placeholder="Qué estás buscando..." value="@ViewBag.search">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 searchWhere">
                        <div class="form-group">
                            <i class="icon_pin_alt"></i>
                            <select class="wide" id="fkDistrito">
                                <option>Dónde...</option>
                                @foreach (var d in (List<Distrito>)ViewBag.listDistrito)
                                {
                                    <option value="@d.pkDistrito" @(d.pkDistrito == distrito ? "selected":"")>@d.cDistrito</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 searchCategory">
                        <div class="form-group">
                            <select class="wide" id="fkTipoActividad">
                                <option>Todas las categorias</option>
                                @foreach (var d in (List<TipoActividad>)ViewBag.listTipoActividades)
                                {
                                    <option value="@d.pkTipoActividad" @(d.pkTipoActividad == tipoActividad ? "selected" : "")>@d.cTipoActividad</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <input type="submit" value="Search" id="btnSearch">
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
        <div class="search_mob_wp">
            <div class="custom-search-input-2">
                <div class="form-group">
                    <input class="form-control" type="text" id="searchMovil" placeholder="Qué estás buscando..." value="@ViewBag.search">
                    <i class="icon_search"></i>
                </div>
                <div class="form-group">
                    <i class="icon_pin_alt"></i>
                    <select class="wide" id="fkDistritoMovil">
                        <option>Dónde...</option>
                        @foreach (var d in (List<Distrito>)ViewBag.listDistrito)
                        {
                            <option value="@d.pkDistrito" @(d.pkDistrito == distrito ? "selected":"")>@d.cDistrito</option>
                        }
                    </select>
                </div>
                <select class="wide" id="fkTipoActividadMovil">
                    <option>Todas las categorias</option>
                    @foreach (var d in (List<TipoActividad>)ViewBag.listTipoActividades)
                    {
                        <option value="@d.pkTipoActividad" @(d.pkTipoActividad == tipoActividad ? "selected" : "")>@d.cTipoActividad</option>
                    }
                </select>
                <input type="submit" value="Search" id="btnSearchMovil">
            </div>
        </div>
        <!-- /search_mobile -->
    </div>
    <!-- /container -->
</div>
<!-- /results -->
<div class="container margin_60_35">
    <div class="row">
        <aside class="col-lg-3" id="sidebar">
            <div id="filters_col">
                <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
                <div class="collapse show" id="collapseFilters">
                    <div class="filter_type">
                        <h6>Category</h6>
                        <ul>
                            <li>
                                <label class="container_check">
                                    Restaurants <small>43</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">
                                    Shops <small>33</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">
                                    Bars <small>12</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">
                                    Events <small>44</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter_type">
                        <h6>Distance</h6>
                        <div class="distance"> Radius around selected destination <span></span> km</div>
                        <input type="range" min="10" max="100" step="10" value="30" data-orientation="horizontal">
                    </div>
                    <div class="filter_type">
                        <h6>Rating</h6>
                        <ul>
                            <li>
                                <label class="container_check">
                                    Superb 9+ <small>34</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">
                                    Very Good 8+ <small>21</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">
                                    Good 7+ <small>15</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">
                                    Pleasant 6+ <small>34</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/collapse -->
            </div>
            <!--/filters col-->
        </aside>
        <!-- /aside -->

        <div class="col-lg-9">
            <div class="row" id="containerProducts">
                
            </div>
            <!-- /row -->

            <p class="text-center"><a href="#0" id="btnLoadMore" class="btn_1 rounded add_top_30">Carga más</a></p>
        </div>
        <!-- /col -->
    </div>
</div>
<!-- /container -->
@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
    <script id="product-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="col-md-6">
            <div class="strip grid">
                <figure>
                    <a href="/Producto/Detalle/{{pkProducto}}">
                        <img src="/Producto/Foto/{{FotoPrincipal.cFileName}}" class="img-fluid" alt="">
                        <div class="read_more"><span>Lee mas</span></div>
                    </a>
                    <small>{{TipoActividad.cTipoActividad}}</small>
                </figure>
                <div class="wrapper">
                    <h3><a href="/Producto/Detalle/{{pkProducto}}">{{cProducto}}</a></h3>
                    <small>{{Distrito.cDistrito}}</small>
                    <p>{{cObservacionPrincipal}}</p>
                    <a class="address" href="{{cGoogleMaps}}" target="_blank">Ver Google Maps</a>
                </div>
            </div>
        </div>
        {{/each}}
    </script>
    <script src="~/Content/js/Producto/Busqueda.min.js"></script>
}
